*
{
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
}

body
{
	color: #ccc;
	background-color: #2C2F33;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.grid
{
	padding: 0px;
	display: grid;
	border-radius: 0px;
	justify-content: center;
}

.header
{
  grid-area: header;
	background-color: #232529;
	font-size: 36px;
}

.error
{
  grid-area: error;
	font-size: 32px;
}

.main
{
  grid-area: main;
}

.side
{
  grid-area: side;
	background-color: #23272A;
}