.charSheet {
  display: flex;
}

.attributeGroup {
  display: flex;
  flex-direction: row;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.attributeBlock {
  margin: calc( .1vmin + 4px );
  padding: calc( .2vmin + 10px );
  justify-content: left;
  display: flex;
}

.sideways {
  writing-mode: vertical-rl;
  transform: rotate( 180deg );
  font-size: calc( 1vmin + 16px );
  font-weight: bolder;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
}

.attribList {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.ability {
  background-color: #ffeead;
}

.defense {
  background-color: #ffcb05;
}

.resistance {
  background-color: #f58321;
}

.attribute {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: calc( .25vmin + .5px )
} 

.attributeTitle {
  font-weight: bolder;
  font-size: calc( .2vmin + 14px );
  margin-bottom: 3px;
  width: calc( .8vmin + 115px );
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
  padding-bottom: 2px;
}

.attributeValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.attributeTotal {
  font-weight: bold;
  background-color: #FFF;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  font-size: calc( .15vmin + 24px );
  height: calc( .6vmin + 48px );
  width: calc( .6vmin + 48px );
  display: flex;
  align-items: center;
  justify-content: center;
}

.attributeCalc {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border-color: #000;
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 4px 4px 0px;
  height: calc(  .6vmin + 36px );
}

.calcSpacer {
  display: flex;
  flex-direction: column;
}

.calcLabel {
  font-size: calc( 9px );
  height: calc( 18px );
  text-align: center;
  vertical-align: middle;
  padding-top: calc( .15vmin + 2.5px );
}

.calcValue {
  font-size: calc( .2vmin + 14px );
  height: calc( .6vmin + 32px );
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
}

.calcStnd {
  width: calc( .3vmin + 26px );
}

.calcThin {
  width: calc( .15vmin + 12px );
}

@media screen and (max-width: 800px) {
  .attributeGroup {
    flex-direction: column;
  }

  .attributeTitle {
    text-align: right;
  }
  
  .attribute {
    flex-direction: row;
  }

  .attributeCalc {
    display: none;
  }
}