.grid
{
	display: grid;
	justify-content: center;
	text-align: center;
}

@media (orientation: landscape)
{
	.grid
	{
		grid-template-columns: 1fr calc( 85vw + 50px ) 1fr;
		grid-template-areas: 
			"header header header"
			"... main ...";
	}
}

@media (orientation: portrait)
{
	.grid
	{
		grid-template-columns: 1fr;
		grid-template-areas: 
			"header"
			"main";
	}
}

.logo
{
  height: calc(40px + 3vmin);
	padding: calc(2px + 1vmin);
	float: left;
}	

.header
{
  grid-area: header;
}

.main
{
  grid-area: main;
}